.section2{
    .navbar{
        background-color: #fb7c00 !important;
    }
   
    .dropdown-item{
        
            color: black !important;
        
    }
    a{
        color: white !important;
        font-size: 18px !important;
        margin-left: 10px;
    }
}